body {
  /* background-color: maroon; */

  background-image: url(../images/ignasi_pattern.png);
}

.nameandbackground {
  background-color: aqua;
  padding: 12px;
  font-weight: 900;
}

.row2 {
  background-color: gray;
}
